@model List<MesReservations.MODEL.LigneResaModel>

    @{
        ViewBag.Title = "Index";
        
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="dt-table">
        <thead>
            <tr>
                <th>
                    <h4>ID Ligne Reservation</h4>
                </th>
                <th>
                    <h4>Date de début</h4>
                </th>
                <th>
                    <h4>Date de fin</h4>
                </th>
                <th>
                    <h4>ID Ressource</h4>
                </th>
                <th>
                    <h4>ID Reservation</h4>
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_Ligne_Reservation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Debut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Fin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_Ressource)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_Reservation)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_Ligne_Reservation }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID_Ligne_Reservation }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_Ligne_Reservation })
                    </td>
                </tr>
            }
        </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dt-table').DataTable();
        });
    </script>
}