@model MesReservations.Models.RessourceModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Ressource</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_Ressource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom_Ressource)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disponibilite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disponibilite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_Achat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_Achat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QRCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QRCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nom_Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom_Genre)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Ressource }) |
    @Html.ActionLink("Back to List", "Index")
</p>

