@model MesReservations.MODEL.ProfilModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Profil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Profil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Profil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Profil)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Profil }) |
    @Html.ActionLink("Back to List", "Index")
</p>
