@*@model IEnumerable<MesReservations.DAL.Utilisateur>*@
@model List<MesReservations.MODEL.ProfilModel>
    @{
        ViewBag.Title = "Index";
        
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="dt-table">
        <thead>
            <tr>
                <th>
                    <h4>Profil</h4>
                </th>
                <th>
                    <h4>ID Profil</h4>
                </th>
                <th>
                    <h4>Nom Profil</h4>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_Profil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom_Profil)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_Profil }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID_Profil }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_Profil })
                    </td>
                </tr>
            }
        </tbody>
    </table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dt-table').DataTable();
        });
    </script>
}
