@model MesReservations.MODEL.Userm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deconnexion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deconnexion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Profil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Profil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_User }) |
    @Html.ActionLink("Back to List", "Index")
</p>
